.header {
    @include tel {
        
        margin: 0;
    }
    font-family: Roboto, monospace;
    @include font(14px, 500, 1.14, 0.02em);
    text-decoration: none;  
}
.header__container {
    position: relative;
    padding-top: 10px;
  padding-bottom: 10px;
  
  justify-content: center;
  @extend %align-list;
    border-bottom: 1px solid #ECECEC;
    
    @include tab {
        padding-top: 0;
  padding-bottom: 0;
    }@include desk {
        padding-top: 0;
  padding-bottom: 0;
    }
}
.site-nav {
    justify-content: center;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}
.top-list__link {
    display: block;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.bottom-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.bottom-list  {
    display: none;
    @include tab {
        display: block;
    }
    @include desk {
    align-items: center;
    display: flex;
    padding-left: 0;
    margin-left: auto; 
    }
}
.bottom-list__item + .bottom-list__item {
    margin-left: 30px;
}
.top-list {
    display: none;
    @include tab {
    display: flex;
    margin-left: 93px;
    padding-left: 0;
    color: var(--title-text-color); 
}
 }

.top-list__item {
    margin-right: 50px;
    fill: currentColor;
&:last-child {
    margin-right: 0;
    }
}

.top-list__link {
    transition: color 250ms var(--timing-function);
    &:hover, 
    &:focus {
    color: #2196F3;
    } 
}
.bottom-list__link {
transition: color 250ms var(--timing-function);
&:hover,
&:focus {
color: #2196F3;
    } 
}
.bottom-list__link {
color: var(--primary-text-color);
}

.current {
    position: relative;
    color: #2196F3;
&::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    }
}
.top-list__link.current {
    color: var(--accent-color);
}
.bottom-list__icon {
    width: 16px;
    height: 12px;
    margin-right: 11px;
    fill: currentColor;
}

.menu-open-btn {
    @media screen and (min-width: 768px) {
        display: none;
    }
    display: inline-flex;
    font-size: 100%;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;

    
    & .menu-icon__close {
        display: block;
    }
    & .menu-icon__open {
        display: none;
    }
    &.is-open .menu-icon__close {
        display: none;
    }
    &.is-open .menu-icon__open {
        display: block;
    }
}
.menu-open-btn__icon {
  color: var(--accent-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
}
}
.container-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: palegoldenrod;
    padding: 10px;
    text-align: center;
    font-size: 20px;
&.is-open {
    display: block;
    }
}