.hero {
    background-color: #2F303A;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/heroesoptimiz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.hero__title {
    color: #ffffff;
    font-family: Roboto, monospace;
    @include font(44px, 900, 1.36, 0.06em);
    margin-bottom: 30px;
    text-transform: uppercase;
}