.list-examples {
    display: block;
    @include tab {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.list-examples__item {
    z-index: 0;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @include tab {
        flex-basis: calc(100% / 2 - 30px);
        margin-right: 30px;
        &:last-child {
            margin-bottom: 30px;
        }
    }
    @include desk {
    flex-basis: calc(100% / 3 - 30px);
  
    
    }
}
.examples-container__title {
font-family: Roboto;
font-style: normal;
@include font($fs: 18px, $lh: 2, $ls: 0.06em);
}
.examples-container__text {
font-family: Roboto;
@include font(16px, 400, 1.9);
color: var(--primary-text-color);
margin-top: 4px;
}
.examples-container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    color: var(--title-text-color);
    border-top: none;
}

.link-overlay {
    position: relative;
    overflow: hidden;
}


.list-examples__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

&:hover .link-overlay__text,
&:focus .link-overlay__text {
    transform: translatey(0);
    }
}
.link-overlay__text {
    position: absolute;  
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(101%);
    transition: 250ms var(--timing-function);
}