.qualities-list {
    display: block;
    @include desk {
    padding-left: 0;
    display: flex;
    }
}
.qualities-list__item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    @include desk {
    flex-basis: calc(100% / 4);
    margin-right: 30px;
    &:last-child {
    margin-right: 0;
  }
 }
}
.qualities-list__block {
    @extend %align-list;
    justify-content: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.qualities-list__icon {
    width: 70px;
    height: 70px;
}

.qualities-list__text {
    @include font($fs: 14px, $fw: 400, $lh: 1.71);
    color: var(--primary-text-color);
}
.qualities-list__title {
    @media screen and (max-width:767px) {
        text-align: center;
    }
    color: var(--title-text-color);
    font-family: Roboto, monospace;
    @include font($fs: 14px, $lh: 1.14);
    margin-bottom: 10px;
    
}