.footer-block__btn {
    @extend %align-list;
    justify-content: center;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: transparent;
    
    @include font-btn;
    
    text-align: center;
    
    color: #FFFFFF;
    padding: 10px 28px 10px 29px;
    }