:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --icon-color:#AFB1B8;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
body {
    
    font-family: Roboto, monospace;
    font-style: normal;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    } 
}
